@charset "UTF-8";

body {
  background-color: rgb(220,220,220)
}
.navbar-brand
{
  width:100%;

}
.navbar
{

  width:100%;
  position: relative;
  background-color: #3B5998;
  border-radius: 5px;
}

#test_head
{
  margin-top: 5%;
  white-space: initial;
  overflow: break-word;
  padding-left: 8px;
 
}

#form_hist
{
  padding-top: 20px;
  position: relative;
}

a.navbar-brand 
{
max-width: 100%;

}

.input-group{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 5px;
  border-color: #dfdfdf!important;
  margin-top: 10px;
}

.input-group-addon {
  right: 100%;
}

.card.bg-light 
{ 
  
  left: 20%;
}

.card.bg-dark 
{ 
  
  left: 10%;
}

.card-history
{ 
  
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #dfdfdf!important;
  position:relative; 
  padding-top: 10px;
  background-color: white;
  max-height: 470px;
  min-height:470px;
  margin-top: 10px;
  border-radius: 5px;
}

.btn
{
  
  right: 2%;
  position: absolute;
}
.maps_div
{
margin-top: 80px;

}

hr {
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 10px 0;
 
}

#map-canvas
{
  margin-top: 10px;
  border-radius: 5px;
  width:100%;
  height:400px;
}

#social-fb:hover {
  color: #3B5998;
}
#social-gp:hover {
  color: #d34836;
}
#social-em:hover {
  color: #f39c12;
}

h6{
  margin-top: 5px;
  margin-bottom: 0px;
}


