<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet" type="text/css" >
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<!-- // -->
    <title>GrandPy Bot</title>
  </head>
  <body>
      <!-- Navigation-->

      <nav class="navbar navbar-light justify-content-center " id="#navbar_top">
        <div class="container">
            <a class="navbar-brand" href="#">
            
                <img src="/static/img/grandpy.png" width="60" height="80" class="d-inline position-relative"  id="img_grandpy" alt="">
           
        
            <div class="d-inline position-relative text-white" id="head_text" >
                Grand Py Bot est là pour repondre à vos question !
            </div>
            
         
           
        </a>
          </div>
   
      </nav>

      <section id="form_hist">

        <div class="container col-10 col-sm-8 col-xl-6">
          <div class="container col-12">
            
            <div class="card-history col-12 overflow-auto">

                <div class="row">
                    <div class="col-10">
                        <div class="card text-white bg-dark mb-3 mw-100" >
                            <div class="card-header">Grand Py</div>
                            <div class="card-body">
                              
                              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptas consequuntur nam itaque illum earum doloremque sapiente adipisci nulla alias quasi, minima, deserunt laudantium accusamus est recusandae accusantium ratione porro?</p>
                            </div>
                          </div>
                    </div>

                    <div class="col-10">
                        <div class="card bg-light mb-3 mw-100" >
                            <div class="card-header">Me</div>
                            <div class="card-body">
                              
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>


                    <div class="col-10">                            
                        <div class="card text-white bg-dark mb-3 mw-100">
                            <div class="card-header">Grand Py</div>
                            <div class="card-body">
                            
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptas consequuntur nam itaque illum earum doloremque sapiente adipisci nulla alias quasi, minima,atione porro?</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-10">
                      <div class="card bg-light mb-3 mw-100" >
                          <div class="card-header">Me</div>
                          <div class="card-body">
                            
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the cards content.</p>
                          </div>
                        </div>
                  </div>
                    
                  


                </div>
        

                
            </div>
            <div class="form-group">
              <h6><label for="comment">Message : </label></h6>
              <textarea class="form-control" rows="3" id="comment"></textarea>
              
            </div>
            
            <span class="input-group-addon">
                <button type="button" class="btn btn-lg btn-primary" id="btn_send">Send</button>
            </span>

        <div class="maps_div">

          <hr class="m-0" />
          <div id="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2641.3229432305848!2d4.026549807528935!3d48.54620567287274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47eeb1a2fd4c524f%3A0x6f8bb726ea955459!2s14%20Rue%20de%20la%20Mairie%2C%2010170%20Bessy!5e0!3m2!1sfr!2sfr!4v1603961683486!5m2!1sfr!2sfr" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe>
            
          </div>




        </div>


        
        </div>



        </div>
   
        
        

      </section>
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script  src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>

  <footer>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://anthony.thillerot.com/"> anthony.thillerot.com</a>

            <div class="container">    
                      <div class="text-center center-block">                       
                              <a href="https://www.facebook.com/anthony.thillerot"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>                            
                            <a href="https://github.com/Anthony10700"><i id="social-gp" class="fa fa-github fa-3x social"></i></a>
                            <a href="mailto:anthony.thillerot@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
              </div>
                 
              </div>	
          
        </div>

  </footer>
</html>